{% extends 'layouts/base.html.twig' %}

{% block title %}Pinterest!{% endblock %}

{% block body %}
{% if pins|length > 0 %}
  <h1>{{Pluralize(pins|length,'pin')}}</h1>
    {% for row in pins|batch(3) %}
    <div class="row mb-5">
    {% for pin in row %}
    <div class="mt-5 col-4">
           <article class="pin bg-white rounded shadow">
           <div class="mw-100 overflow-hidden">
             <a href="{{path('app_pins_show', {id:pin.id})}}"> 
               <img src="{{ pin.imageName ? asset('uploads/'~ pin.imageName) : asset('images/placeholder.jpeg')  }}" class="img-thumbnail rounded-top img-100" alt="{{pin.imageName ? pin.title : "placeholder"}}">
            </a>
           </div>
          
            
             <h2 class="pl-3 pb-3 pt-3 h5"><a href="{{path('app_pins_show', {id:pin.id})}}" class="text-muted text-decoration-none text-secondary">{{pin.title}}</a></h2>
             <p class="pl-3 pb-3 text-muted"><small>Submitted {{pin.user.getFullName()}}</small></p>
             <p class="pl-3 pb-3 text-muted">Submitted :  {{pin.createdAt|ago}}</p>
           </article>
    </div>

    {% endfor %}
    </div>
    {% endfor %}
{% else %}

   <p class="h1 text-center mt-5">No pins yet. <a href={{path('app_pins_create')}}>Be the first!</a></p>

{% endif %}


{% endblock %}
