{% extends 'layouts/base.html.twig' %}

{% block title pin.title %}

{% block body %}
<div class="row">
    <article class="col-6 mx-auto">
        <h1>{{pin.title}}</h1>
        <p>{{pin.description}}</p>
           <img src="{{ pin.imageName ? asset('uploads/'~ pin.imageName) : asset('images/placeholder.jpeg')  }}" class="img-thumbnail img300" alt="{{pin.imageName ? pin.title : "placeholder"}}">
    </article>
</div>

<a href="{{path('app_pins_edit', {id:pin.id})}}">Edit</a> |
<a href="#" onClick="event.preventDefault(); confirm('Are you sure') && document.getElementById('js-pin-delete').submit();" >Delete</a> |


<form id="js-pin-delete" action="{{path('app_pins_delete', {id:pin.id})}}" method="POST" style="display:none">
<input type="hidden" name="_method" value="DELETE">
<input type="hidden" name="csrf_token" value="{{csrf_token('pin.delete')}}">

   
</form>

{% endblock %}