{% extends 'layouts/base.html.twig' %}
{% block title %}Register!{% endblock %}



{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container">
    <div class="row ">
    <div class="col-7 m-auto">
    <h1 class="text-center mt-5">Create an Account</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        <div class="row">
            <div class="col-6">{{form_row(registrationForm.lastName)}}</div>
            <div class="col-6">{{form_row(registrationForm.firstName)}}</div>
        </div>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <div class="row">
         <button type="submit" class="btn btn-primary col-12">Register</button>
        </div>

        <p class="mt-5 text-center text-muted">Already have an account? <a href="{{path('app_login')}}">Log in</a></p>
       
    {{ form_end(registrationForm) }}
    </div>
    </div>

    </div>
   
{% endblock %}
